In [1]:
import pandas as pd
import gspread
import json
from google.oauth2.service_account import Credentials

scopes=[
    "https://www.googleapis.com/auth/spreadsheets"
]
creds=Credentials.from_service_account_file("creds.json",scopes=scopes)
client=gspread.authorize(creds)

sheet_id="1yCA-LKtvmyDJVi1Tnxeo-uLVUoYSwKidJgUYntsPNls"

workbook=client.open_by_key(sheet_id)

In [2]:
sheet = workbook.sheet1

In [3]:
data=sheet.get_all_values()
headers=data.pop(0)
df=pd.DataFrame(data,columns=headers)

In [4]:
df

,URL,Company Name,City,State,Industry
0,,"""Oceans Cargo""",Pensacola,FL,Art
1,http://Rtist.com,[@rtist],San Francisco,CA,#N/A
2,http://abh.com,Advanced BioHealing Inc.,Westport,MA,Biotechnology
3,http://www.autoloansforeverydriver.com,AutoloansForEveryDriver,Anchorage,AK,Finance
4,http://avazu.com,Avazu Europe,Los Angeles,CA,Advertising Networks
...,...,...,...,...,...
79070,http://www.parkeddomain.com,Zzz,Palo Alto,CA,Social Media
79071,http://plusn.com,#NAME?,New York,NY,Software
79072,http://plyknits.com,#NAME?,New York,NY,Sports
79073,https://thatsanism.com,#NAME?,Los Angeles,CA,Social Media
79074,http://www.swappow.com,#NAME?,Phoenix,AZ,Mobile Commerce

In [5]:
df.info

<bound method DataFrame.info of                                           URL                Company Name  \
0                                                       "Oceans Cargo"
1                            http://Rtist.com                    [@rtist]
2                              http://abh.com   Advanced BioHealing Inc.
3      http://www.autoloansforeverydriver.com     AutoloansForEveryDriver
4                            http://avazu.com                Avazu Europe
...                                       ...                         ...
79070             http://www.parkeddomain.com                         Zzz
79071                        http://plusn.com                      #NAME?
79072                     http://plyknits.com                      #NAME?
79073                  https://thatsanism.com                      #NAME?
79074                  http://www.swappow.com                      #NAME?

                City State              Industry
0          Pensacola    FL                   Art
1      San Francisco    CA                  #N/A
2           Westport    MA         Biotechnology
3          Anchorage    AK               Finance
4        Los Angeles    CA  Advertising Networks
...              ...   ...                   ...
79070      Palo Alto    CA          Social Media
79071       New York    NY              Software
79072       New York    NY                Sports
79073    Los Angeles    CA          Social Media
79074        Phoenix    AZ       Mobile Commerce

[79075 rows x 5 columns]>

In [6]:
industry=df["Industry"].drop_duplicates()

In [7]:
industry

0                         Art
1                        #N/A
2               Biotechnology
3                     Finance
4        Advertising Networks
                 ...
77511       Computer Networks
77990                    Yoga
78087          Club Promotion
78412                     Sex
78805      Labor Optimization
Name: Industry, Length: 1116, dtype: object

In [21]:
df['Industry'].sort_values()

54899       #N/A
26520       #N/A
26521       #N/A
26522       #N/A
26533       #N/A
          ...
25215     iPhone
60746    mHealth
400      mHealth
49827    mHealth
32178    mHealth
Name: Industry, Length: 79075, dtype: object

In [22]:
df.value_counts()

URL                                                     Company Name             City           State  Industry
http://kiva.org                                         Kiva Microfunds          San Francisco  CA     Nonprofits             5
https://www.dataxu.com/                                 DataXu                   Boston         MA     SaaS                   4
https://app.hedgeye.com/insights                        Hedgeye Risk Management  Stamford       CT     Market Research        3
http://www.cambridgeselect.com                          Cambridge Select         Boston         MA     E-Commerce             3
http://www.crowdsource.com                              CrowdSource              St. Louis      MO     SaaS                   3
                                                                                                                             ..
http://www.AdBasis.com                                  AdBasis                  Chicago        IL     Digital Media          1
http://www.AcuteCars.com                                Acute Cars               Phoenix        AZ     Mobile                 1
http://www.ActivBeacon.com                              zeezao                   Los Angeles    CA     Mobile                 1
http://www.ActionableAnalytics.biz                      Actionable Analytics     Houston        TX     Enterprise Software    1
www.whoweuse.net |  Get the app: http://bit.ly/1meONd2  WhoWeUse                 New York       NY     Mobile                 1
Name: count, Length: 78767, dtype: int64

In [25]:
cafilter=df["State"]=="CA"
df[cafilter].value_counts().size

25779

In [28]:
df['State'].value_counts().sum()

np.int64(79075)

In [29]:
df.notna().sum().sum()

np.int64(395375)

In [34]:
valid_cell_count=df.count().sum().sum()

np.int64(395375)

In [39]:
sorted_by_state=df['State'].value_counts().sort_values()
sorted_by_state

State
COLOMBIA          1
Missouri          1
East Coast        1
GEORGIA           1
Alabama           1
              ...
IL             2756
FL             3036
MA             4164
NY            10883
CA            25891
Name: count, Length: 64, dtype: int64

In [40]:
all_industries=df['Industry'].value_counts().sort_values()

In [41]:
all_industries

Industry
Labor Optimization          1
Genomics                    1
Mobile Consumer             1
Enterprise Purchasing       1
Merchants                   1
                         ...
SaaS                     3134
Social Media             3897
E-Commerce               4342
#N/A                     5949
Mobile                   9464
Name: count, Length: 1116, dtype: int64